@using SQLInjectionTestWebsite.Shared.Utils
@inject NavigationManager Navigation

<div class = "navbar">
	@foreach((string name, string path) in Pages)
	{
		if(CurrentPageName == name)
		{
			<a id="active" @onclick = "@(() => OnPageClicked(name))" href="" @onclick:preventDefault>@name</a>
		}
		else
		{
			<a @onclick = "@(() => OnPageClicked(name))" href = "" @onclick:preventDefault>@name</a>
		}
	}

	<div id="user-name">
		Hi @(Store.CurrentUser.Match(ok => ok.UserName, () => "Guest"))!
	</div>

</div>

@code {
	[Parameter, EditorRequired]
	public string CurrentPageName { get; set; } = "";

	[Parameter]
	public Dictionary<string, string> Pages { get; set; } = DefaultPageNames;

	protected override void OnInitialized()
	{
		Store.CurrentUserChanged += async (_, _) => { await InvokeAsync(StateHasChanged); };
	}

	private void OnPageClicked(string name)
	{
		Navigation.NavigateTo(Pages[name]);
	}

	public static Dictionary<string, string> DefaultPageNames = new Dictionary<string, string>(){
		{ "Home", "/" },
		{ "Account", "/AccountInfoPage" },
		{ "Cart", "/CartPage" },
		{ "Sign In", "/SignInPage" }
	};

	private static Option<string> GetUserName()
	{
		return Store.CurrentUser.Match(
			ok => new Option<string>(ok.UserName),
			() => new Option<string>());
	}
}
